<%- include('partials/head.ejs') -%>
<script type="text/javascript" src="main.js"></script>

<body>
    <!-- begin top bar -->
    <div id="top-wrapper">
        <div id="browser-support">
            For the best experience, we recommend using a recent version of <a href="https://www.google.com/chrome/">Chrome</a> or Chromium
            <span id="dismiss" onclick="dismissAlert()">Dismiss</span>
        </div>
        <div id="top-bar">
            <div id="title-version-wrapper">
                <div id="title">CCIS Dashboard</div>
                <div id="version-number">v<%=version%></div>
            </div>
            <div id="key-indicators-container"></div>
        </div>
        <nav id="top-tabs">
            <% Object.keys(tabVisualizations).forEach(x => { %>
            <button id="<%=x%>-tab" class="tabs" onclick="tabSelector('<%=x%>')"><%=tabVisualizations[x].tabLabel%></button>
            <% }); %>
            <!-- The FAQ link in the tab bar is not actually a dashboard tab, -->
            <!-- and is hardcoded here -->
            <a href="/dashboard/faq.html" target="_blank"><button class="tabs">F.A.Q.</button></a>
        </nav>
    </div>
    <!--end top bar -->

    <div id="bottom-outer-wrapper">
        <% Object.entries(tabVisualizations).forEach(([ tabName, tab ]) => { %>
            <% if (tab.exportTab) { %>
            <%- include('partials/exportTab', { tabName, tab }) %>
            <% } else if (tab.multi) { %>
            <%- include('partials/multiTab', { tabName, tab }) %>
            <% } else { %>
            <%- include('partials/tab', { tabName, tab }) %>
            <% } %>
        <% }); %>
    </div>
</body>

<script>
    window._dropdownFilters = <%- JSON.stringify(filters) %>;
</script>

</html>
