<%- include('partials/head.ejs') -%>
<script type="text/javascript" src="main.js"></script>

<body>
    <!-- begin top bar -->
    <div id="top-wrapper">
        <div id="top-bar">
            <div id="title">CCIS Dashboard</div>
            <div id="key-indicators-container"></div>
        </div>
        <nav id="top-tabs">
            <% Object.keys(tabVisualizations).forEach(x => { %>
            <button id="<%=x%>-tab" class="tabs" onclick="tabSelector('<%=x%>')"><%=tabVisualizations[x].tabLabel%></button>
            <% }); %>
        </nav>
    </div>
    <!--end top bar -->

    <% Object.entries(tabVisualizations).forEach(([ tabName, tab ]) => { %>
        <%- include('partials/tab', { tabName, tab }) %>
    <% }); %>
</body>

<script>
    window.facilityClasses = <%- JSON.stringify(facilityClasses) %>;
    window.refrigeratorClasses = <%- JSON.stringify(refrigeratorClasses) %>;
</script>

</html>
