<%- include('partials/head.ejs') -%>
<script type="text/javascript" src="main.js"></script>

<body>
    <!-- begin top bar -->
    <div id="top-wrapper">
        <div id="top-bar">
            <div id="title-version-wrapper">
                <div id="title">CCIS Dashboard</div>
                <div id="version-number">v<%=version%></div>
            </div>
            <div id="key-indicators-container"></div>
        </div>
        <nav id="top-tabs">
            <% Object.keys(tabVisualizations).forEach(x => { %>
            <button id="<%=x%>-tab" class="tabs" onclick="tabSelector('<%=x%>')"><%=tabVisualizations[x].tabLabel%></button>
            <% }); %>
        </nav>
    </div>
    <!--end top bar -->

    <div id="bottom-outer-wrapper">
        <% Object.entries(tabVisualizations).forEach(([ tabName, tab ]) => { %>
            <%- include('partials/tab', { tabName, tab }) %>
        <% }); %>
    </div>
</body>

<script>
    window._dropdownFilters = <%- JSON.stringify(filters) %>;
</script>

</html>
