<%- include('partials/head.ejs') -%>
<!-- <link rel="stylesheet" type="text/css" href="./style.css"> -->
<!-- <link rel="stylesheet" type="text/css" href="./login.css"> -->
<link rel="stylesheet" type="text/css" href="./bootstrap.min.css">
<link rel="icon" href="images/logo.png" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Roboto&display=swap"
      rel="stylesheet"
    />
    <style>
        .container{
            font-family: 'Roboto', sans-serif;    
        }
    </style>


<body style="background-color:lightcyan;">
    <div class="container">
        <div class="row">
            <div class="col-sm-12 col-md-10 col-lg-10 mx-auto">
                <div style="text-align: center;">
                    <p></p>
                    <p></p>

            
            <a href="/dashboard" class="btn btn-secondary">Back to Dashboard</a>
            <p></p>
            <h5 style="text-decoration: underline;">Requested Accounts</h5>
        </div>
        <br/>
            
        <table class="table">
            <tr>
               <th scope="col">Names</th>
               <th scope="col">Email</th>
               <th scope="col">Organization</th>
               <th scope="col">Date</th>
               <th scope="col">Message</th>
            </tr>
         
            <% for (var i = 0; i < users.length; i++) { %>
             <tr>
               <td><%= users[i].names %></td>
               <td><%= users[i].email %></td>
               <td><%= users[i].organization %></td>
               <td><%= users[i].updatedAt %></td>
               <td><%= users[i].message %></td>
             </tr>    
            <% } %>
         </table>
            

                    
                
        </div>  
          
        </div>
        </div>
    </div>
</body>
</html>
