<!-- begin tab <%=tabName%>-->
<div id="<%=tabName%>" class="bottom-wrapper">
    <!-- begin left filter -->
    <div class="left-wrapper">
        <!-- Export div -->
        <% if (tab.exportTab) { %>
        <div id="export-div" class="display-export">
            <!-- Export selection and button -->
            <div>
                Select the data you would like to export:
                <select id="export-selector">
                    <% Object.entries(exportOptions).forEach(([ key, options ]) => { %>
                    <option value="<%=key%>"><%=options.name%></option>
                    <% }); %>
                </select>
            </div>
            <button id="export" type="button" onclick="exportTables()">Export</button>
        </div>
        <% } %>
    </div>
    <!-- end left filter -->
</div>
<!-- end tab <%=tabName%>-->
