<!-- begin tab <%=tabName%>-->
<div id="<%=tabName%>" class="bottom-wrapper">
    <!-- begin left filter -->
    <div class="left-wrapper">
        <!-- Visualization selection and button -->
        <% if (tab.visualizations) { %>
        <div class="display-export">
            <div>
                <div>Select a visualization:</div>
                <select class="visualization-selector" onchange="selectVisualization('<%=tabName%>')">
                    <% tab.visualizations.forEach(y => { %>
                    <option value="<%=y%>"><%=y%></option>
                    <% }); %>
                </select>
            </div>
            <button class="display" type="button" onclick="drawVisualization('<%=tabName%>')">Display</button>
        </div>
        <% } %>
        <div class="filter">
            <table>
                <tr>
                    <td><span class="smalltitle">Filter</span></td>
                </tr>
                <% filters.forEach(([key, filterSpec]) => { %>
                    <%- include('filterOption', { ...filterSpec, key }) %>
                <% }); %>
            </table>
        <div class="map"></div>
        <ul class="region-list"></ul>
        </div>

    </div>
    <!-- end left filter -->

    <!-- begin right main wrapper -->
    <%- include('viz', { index: 0 }) %>
    <!-- end right main wrapper -->

</div>
<!-- end tab <%=tabName%>-->
