<div class="main-wrapper main-wrapper-<%=index%>">
    <div class="bar-numbers-container"></div>
    <div class="viz-title viz-title-<%=index%>"></div>
    <div class="viz-wrapper viz-wrapper-<%=index%>">
        <div class="chart-wrapper chart-wrapper-<%=index%>">
            <div class="map-container map-container-<%=index%>"></div>
            <div class="list-wrapper list-wrapper-<%=index%>"></div>
            <div class="chart-container chart-container-<%=index%>"></div>
            <div class="legend-container legend-container-<%=index%>"></div>
        </div>
    </div>
</div>
